[core]
    editor = nvim

[init]
    defaultBranch = main

[user]
    name = Oliver Marshall
    email = olivershawmarshall@gmail.com
    signingkey = /Users/osm/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/PublicKeys/320022f00c3958599c88ae1bbcb2f6c5.pub

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = ~/.gitallowedsigners

[commit]
    gpgSign = true

[pull]
    # Assume `--rebase` when doing a `git pull`
    rebase = true

[push]
    # Assume `--set-upstream` when doing a `git push origin <branch>`
    autoSetupRemote = true
    default = upstream

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
