[core]
    editor = nvim

[init]
	defaultBranch = main

[user]
    name = Oliver Marshall
    email = olivershawmarshall@gmail.com
	signingKey = ~/.ssh/juxt_mac_osm.pub

[gpg]
	format = ssh

[commit]
    gpgSign = true

[pull]
    # Assume `--rebase` when doing a `git pull`
	rebase = true

[push]
    # Assume `--set-upstream` when doing a `git push origin <branch>`
	autoSetupRemote = true

[includeIf "gitdir:~/prog/work/"]
    path = ~/work.gitconfig
