{:plan [;; >> Bootstrap (provides :pkg/brew, :pkg/mise, :pkg/mas, :pkg/bbin)
        {:pkg/script
         {:homebrew
          {:path "scripts/install-homebrew.sh"
           :dep/provides #{:pkg/brew}}}
         :pkg/brew
         {:mise {:dep/provides #{:pkg/mise}}
          :mas {:dep/provides #{:pkg/mas}}
          "babashka/brew/bbin" {:dep/provides #{:pkg/bbin}}}}

        ;; >> OSX
        :macos

        ;; >> Terminal setup
        :ghostty
        :fish
        :bash

        ;; >> Editor
        :nvim
        :vim
        :intellij

        ;; >> Tools
        :tailscale
        :git
        :ssh
        :gpg
        :fzf
        :zoxide
        :bin

        ;; >> Languages
        :clojure
        :js
        :terraform
        :python

        ;; >> Deployment
        :aws

        ;; >> AI
        :llm

        ;; >> Work
        {:pkg/brew {:slack {}}
         :pkg/mas {"Windows App" 1295203466}}

        {:pkg/brew {"postgresql@18" {}}}

        ;; >> Fun
        {:pkg/brew {:godot {}
                    :telegram {}
                    :musescore {}}}]}
