{brew/neovim {}

 ; Hidden dependency?
 brew/luarocks {}


 ; For Parinfer-rust in Clojure config
 brew/rustup-init {}

 ; For fuzzy searching
 brew/ripgrep {}

 ; For installing LSPs with nvim-lsp-installer
 brew/node {}
 brew/wget {}
 brew/ninja {}}; Lua
