{:pkg/brew {; Anthropic
            :claude {}
            :claude-code {}
            ; OpenAI
            :chatgpt {}
            :codex {}
            ; Other
            :llm {}
            :repomix {}}}
