{:pkg/brew {; Anthropic
            :claude {}
            :claude-code {:dep/provides #{:claude/marketplace :claude/plugin :claude/mcp}}
            ; OpenAI
            :chatgpt {}
            :codex {}
            ; Other
            :llm {}
            :repomix {}}

 :pkg/npm {:happy-coder {}}
 :pkg/bbin {"clj-paren-repair-claude-hook" {:url "https://github.com/bhauman/clojure-mcp-light.git"
                                            :git/tag "v0.2.0"}
            "clj-nrepl-eval" {:url "https://github.com/bhauman/clojure-mcp-light.git"
                              :git/tag "v0.2.0"
                              :main-opts "[\"-m\" \"clojure-mcp-light.nrepl-eval\"]"}
            :cld {:local "./tools/cld"
                  :dep/requires #{[:pkg/brew :claude]
                                  [:pkg/brew :tmux]}}}
 :claude/marketplace {:taches {:source "glittercowboy/taches-cc-resources"}}
 :claude/plugin {:taches-cc-resources {:dep/requires #{[:claude/marketplace :taches]}}}
 :claude/mcp {:morph-mcp {:dep/requires #{[:pkg/brew :claude-code]
                                          [:pkg/mise :node]}
                          :command "npx"
                          :args ["-y" "@morphllm/morphmcp"]
                          :env {:MORPH_API_KEY #secret :morph-api-key
                                :ENABLED_TOOLS "edit_file,warpgrep_codebase_search"}}}
 :fs/symlink-folder {"~/.claude" "./.claude"}}
