{:pkg/brew {; Anthropic
            :claude {}
            :claude-code {:dep/provides #{:claude/marketplace :claude/plugin :claude/mcp}}
            ; OpenAI
            :chatgpt {}
            :codex {}
            ; Other
            :llm {}
            :repomix {}
            "steveyegge/beads/bd" {}}

 ;; Using fork with fix for https://github.com/slopus/happy-cli/issues/124
 :pkg/npm {"https://github.com/ake-forks/happy-cli/releases/download/v0.13.0-patched/happy-coder-0.13.0.tgz" {}}
 :pkg/bbin {"clj-paren-repair-claude-hook" {:url "https://github.com/bhauman/clojure-mcp-light.git"
                                            :git/tag "v0.2.0"}
            "clj-nrepl-eval" {:url "https://github.com/bhauman/clojure-mcp-light.git"
                              :git/tag "v0.2.0"
                              :main-opts "[\"-m\" \"clojure-mcp-light.nrepl-eval\"]"}}
 :claude/marketplace {:claude-plugins-official {:source "anthropics/claude-plugins-official"}
                      :claude-plugins-juxt {:source "juxt/claude-plugins"}}
 :claude/plugin {:playground {:dep/requires #{[:claude/marketplace :claude-plugins-official]}}
                 :superpowers {:dep/requires #{[:claude/marketplace :claude-plugins-official]}}
                 :allium {:dep/requires #{[:claude/marketplace :claude-plugins-juxt]}}}
 :fs/symlink-folder {"~/.claude" "./.claude"}
 :git/clone {"~/.claude/skills/claudeception" {:url "https://github.com/blader/Claudeception.git"
                                               :ref "7d7f5915f90db26e1a3fc52db6ac2e68d6d705a2"}}
 :pkg/script {:claudeception-hooks {:src "chmod +x ~/.claude/skills/claudeception/scripts/*.sh"
                                    :dep/requires #{[:git/clone "~/.claude/skills/claudeception"]}}}}
