{:pkg/brew {; Anthropic
            :claude {}
            :claude-code {:dep/provides #{:claude/marketplace :claude/plugin :claude/mcp}}
            :sox {} ; voice mode
            ; Other
            :llm {}
            :repomix {}
            "juxt/allium/allium" {}}

 :pkg/bbin {"clj-paren-repair-claude-hook" {:url "https://github.com/bhauman/clojure-mcp-light.git"
                                            :git/tag "v0.2.0"}
            "clj-nrepl-eval" {:url "https://github.com/bhauman/clojure-mcp-light.git"
                              :git/tag "v0.2.0"
                              :main-opts "[\"-m\" \"clojure-mcp-light.nrepl-eval\"]"}}
 :claude/marketplace {:official {:source "anthropics/claude-plugins-official"}
                      :juxt {:source "juxt/claude-plugins"}}
 :claude/plugin {:playground {:dep/requires #{[:claude/marketplace :official]}}
                 :allium {:dep/requires #{[:claude/marketplace :juxt]}}
                 :chalk {:dep/requires #{[:claude/marketplace :juxt]}}
                 :glance {:dep/requires #{[:claude/marketplace :juxt]}}
                 :chill {:dep/requires #{[:claude/marketplace :juxt]}}}
 :fs/symlink-folder {"~/.claude" "./.claude"}}
