{:pkg/brew {:raycast {}
            :orbstack {} ;:docker-desktop {}
            :obsidian {}
            :quitter {}}
 :pkg/mas {;"OmniFocus 4" 1542143627
           ;"Sofa" 1276554886
           "Timery" 1425368544
           "Bitwarden" 1352778147
           ; TODO: Can I configure hooking this up to Safari?
           "Wipr 2" 1662217862
           ; TODO: Can I configure this?
           "Tailscale" 1475387142
           ;"Fantastical" 975937182
           "Data Jar" 1453273600
           "Collections Database" 1568395334
           "Save to Reader" 1640236961}

 ; TODO: How can I setup mapping CapsLock to Control?
 :osx/defaults
 {"NSGlobalDomain" {"com.apple.sound.beep.volume" 0.0
                    "com.apple.sound.beep.feedback" 0}
  "com.apple.Safari" {"IncludeDevelopMenu" true}
  "com.apple.dock" {"autohide" true
                    "show-recents" false
                    "tilesize" 72}
  "com.apple.finder" {"AppleShowAllFiles" true}
  ; Stage Manager
  "com.apple.WindowManager" {"GloballyEnabled" true
                             ; Don't group windows by application
                             "AppWindowGroupingBehavior" false}}}
