{:pkg/brew {:orbstack {} ;:docker-desktop {}
            :obsidian {}
            :quitter {}
            :rectangle-pro {}
            :music-decoy {}
            :spotify {}
            :notion {}
            :macwhisper {}
            :google-drive {}
            :discord {}
            :google-chrome {}}

 :pkg/mas {"Timelines" 1112433234
           "Bitwarden" 1352778147
           "Wipr 2" 1662217862
           "Data Jar" 1453273600
           "Collections Database" 1568395334
           "Logger for Shortcuts" 1611554653
           "Drafts" 1435957248
           "Uplock" 6469049274
           "Todoist" 585829637
           ;; Apple
           "iMovie" 408981434
           "Keynote" 409183694
           "Pages" 409201541
           "Numbers" 409203825
           "GarageBand" 682658836}
 :fs/symlink-folder {"~/.config" "./.config"}
 :fs/symlink {"~/.hushlogin" "./.hushlogin"}

 :assert
 {:caps-lock-to-control
  {:clj (let [globals (defaults/read-domain)
              mappings (->> globals
                            (filter (fn [[k _]] (clojure.string/starts-with? k "com.apple.keyboard.modifiermapping")))
                            (mapcat val))]
          (some (fn [m]
                  (and (= (get m "HIDKeyboardModifierMappingSrc") 30064771129)
                       (= (get m "HIDKeyboardModifierMappingDst") 30064771300)))
                mappings))
   :message "Caps Lock is not remapped to Control"
   :instructions ["Open System Settings > Keyboard > Keyboard Shortcuts > Modifier Keys"
                  "Set Caps Lock to Control for each keyboard"]}
  :australian-keyboard
  {:clj (let [current (defaults/read-domain "com.apple.HIToolbox")]
          (some (fn [src]
                  (and (= (get src "InputSourceKind") "Keyboard Layout")
                       (= (get src "KeyboardLayout Name") "Australian")))
                (get current "AppleEnabledInputSources")))
   :message "Australian keyboard layout is not enabled"
   :instructions ["Open System Settings > Keyboard > Input Sources > Edit"
                  "Add Australian keyboard layout"]}}

 :osx/defaults
 {:global {:domain "NSGlobalDomain"
           :settings {"com.apple.sound.beep.volume" 0.0
                      "com.apple.sound.beep.feedback" 0
                      ;; Keyboard settings
                      "NSAutomaticSpellingCorrectionEnabled" false
                      "NSAutomaticCapitalizationEnabled" false
                      "NSAutomaticInlinePredictionEnabled" false
                      "NSAutomaticPeriodSubstitutionEnabled" false}}
  :safari {:domain "com.apple.Safari"
           :settings {"IncludeDevelopMenu" true}}
  :dock {:domain "com.apple.dock"
         :settings {"autohide" true
                    "show-recents" false
                    "tilesize" 72}}
  :finder {:domain "com.apple.finder"
           :settings {"AppleShowAllFiles" true}}
  ;; Use compact emoji picker instead of full Character Viewer
  :emoji {:domain "com.apple.CharacterPaletteIM"
          :settings {"CVStartAsLargeWindow" false}}
  ; Stage Manager
  :stage-manager {:domain "com.apple.WindowManager"
                  :settings {"GloballyEnabled" true
                             ; Don't group windows by application
                             "AppWindowGroupingBehavior" false}}
  :music-decoy {:domain "com.lowtechguys.MusicDecoy"
                :settings {"mediaAppPath" "/Applications/Spotify.app"}
                :dep/requires #{[:pkg/brew :music-decoy]
                                [:pkg/brew :spotify]}}}}
