{:pkg/brew {:orbstack {} ;:docker-desktop {}
            :obsidian {}
            :quitter {}
            :rectangle-pro {}
            :music-decoy {}
            :spotify {}}

 :pkg/mas {;"OmniFocus 4" 1542143627
           ;"Sofa" 1276554886
           "Timelines" 1112433234
           "Bitwarden" 1352778147
           "Wipr 2" 1662217862
           ;"Fantastical" 975937182
           "Data Jar" 1453273600
           "Collections Database" 1568395334
           "Save to Reader" 1640236961
           "Logger for Shortcuts" 1611554653}
 :fs/symlink-folder {"~/.config" "./.config"}
 :fs/symlink {"~/.hushlogin" "./.hushlogin"}

 ; TODO: How can I setup mapping CapsLock to Control?
 :osx/defaults
 {:global {:domain "NSGlobalDomain"
           :settings {"com.apple.sound.beep.volume" 0.0
                      "com.apple.sound.beep.feedback" 0
                      ;; Keyboard settings
                      "NSAutomaticSpellingCorrectionEnabled" false
                      "NSAutomaticCapitalizationEnabled" false
                      "NSAutomaticInlinePredictionEnabled" false
                      "NSAutomaticPeriodSubstitutionEnabled" false}}
  :safari {:domain "com.apple.Safari"
           :settings {"IncludeDevelopMenu" true}}
  :dock {:domain "com.apple.dock"
         :settings {"autohide" true
                    "show-recents" false
                    "tilesize" 72}}
  :finder {:domain "com.apple.finder"
           :settings {"AppleShowAllFiles" true}}
  ;; Use compact emoji picker instead of full Character Viewer
  :emoji {:domain "com.apple.CharacterPaletteIM"
          :settings {"CVStartAsLargeWindow" false}}
  ; Stage Manager
  :stage-manager {:domain "com.apple.WindowManager"
                  :settings {"GloballyEnabled" true
                             ; Don't group windows by application
                             "AppWindowGroupingBehavior" false}}
  ;; Keyboard input sources
  :keyboard {:domain "com.apple.HIToolbox"
             :settings {"AppleEnabledInputSources"
                        [{"InputSourceKind" "Keyboard Layout"
                          "KeyboardLayout ID" 15
                          "KeyboardLayout Name" "Australian"}]
                        "AppleSelectedInputSources"
                        [{"InputSourceKind" "Keyboard Layout"
                          "KeyboardLayout ID" 15
                          "KeyboardLayout Name" "Australian"}]}}
  :music-decoy {:domain "com.lowtechguys.MusicDecoy"
                :settings {"mediaAppPath" "/Applications/Spotify.app"}
                :dep/requires #{[:pkg/brew :music-decoy]
                                [:pkg/brew :spotify]}}}}
