{:pkg/brew {:neovim {:head true
                      ; For installing LSPs with Mason
                      :dep/requires #{[:pkg/mise :node]}}
            ; For parinfer-rust in Clojure config
            :rust {}
            ; For fuzzy searching
            :ripgrep {}
            :wget {}
            :ninja {} ; Lua
            :luarocks {} ; fennel_ls etc.
            :maven {} ; java_language_server
            ; For tree-sitter
            :tree-sitter {}}
 :fs/symlink-folder {"~/.config" "./.config"}}
