{:pkg/brew {:neovim {; For installing LSPs with Mason
                     :dep/requires #{[:pkg/mise :node]}}
            ; For parinfer-rust in Clojure config
            :rust {}
            ; For fuzzy searching
            :ripgrep {}
            :wget {}
            :ninja {} ; Lua
            :luarocks {} ; fennel_ls etc.
            :maven {} ; java_language_server
            :elixir {} ; elixir extra
            ; For tree-sitter
            :tree-sitter {}
            :fd {}}
 :fs/symlink-folder {"~/.config" "./.config"}}
