{:paths ["src" "test"]
 :deps {}
 :bbin/bin {cld {:main-opts ["-m" "cld.main"]}}
 :tasks
 {test
  {:doc "Run tests"
   :requires [[clojure.test :as t]
              [cld.cli-test]
              [cld.core-test]]
   :task (let [result (t/run-tests 'cld.cli-test 'cld.core-test)]
           (when (or (pos? (:fail result)) (pos? (:error result)))
             (System/exit 1)))}}}
